body {
	background-image: url("wood_pattern.png");
}

body > header {
	text-align: center;
}

nav {
	position: fixed;
	background: url("logo.png") no-repeat top center;
	top: 1em;
	padding-top: 120px;
	width: 8em;
}

nav header {
	text-indent: -999em;
	height: 0;
}

nav ul {
	list-style-type: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 1em;
	padding: 0.5em 0 0.5em 2em;
}

nav ul li {
	margin-bottom: 0.5em;
}

#content {
	margin-left: 10em;
	padding: 1em;
}

#content article p {
	text-indent: 22em;	
}

#news ul {
	list-style-type: none;
}

#news ul li {
	padding: 0.5em 0;
}

#news ul li time {
	margin-right: 2em;
}

footer {
	padding: 0.5em;
	text-align: center;
}
