body {
	margin: 0;
	overflow-x: hidden;
	background-color: #FCD979;
	background-image: linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
	  linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
	  linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
	  linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -moz-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
	  -moz-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
	  -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
	  -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -o-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
	  -o-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
	  -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
	  -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
	  -webkit-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
	  -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
	  -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 26px, 58px, 74px, 106px;
}

body > header {
	text-align: center;
}

nav {
	position: fixed;
	background: url("logo.png") no-repeat bottom center;
	top: 4em;
	padding: 1em 1em 135px 1em;
	width: 8em;
}

nav header {
	text-indent: -999em;
	height: 0;
}

nav ul {
	list-style-type: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
	padding: 0.5em 0 0.5em 1.5em;
}

nav ul li {
	margin-bottom: 0.5em;
}

#content {
	margin: 1em 1em 0 10em;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
}

#content article p {
	text-indent: 2em;	
}

#news {
	list-style-type: none;
}

#news li {
	padding: 0.5em 0;
}

time {
	margin-right: 2em;
}

h3 {
	position: relative;
	background-color: #FAD850;
	margin: 0;
	padding: .5em;
}

h3:after {
   content: '';
   position: absolute;
   background: #FAD850;
   top: 0;
   bottom: 0;
   width: 999em;
}

h3 time {
	float: right;
}

footer {
	padding: 0.5em;
	text-align: center;
}
