body {
	background-image: url("wood_patter.png");
}

body > header {
	background: url("logo.png") no-repeat right center;
	text-align: center;
}

#main {
        margin: 0 auto;
}

nav {
	float: left;
	padding: 1em;
	width: 10em;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	margin-bottom: 0.5em;
}

#content {
	margin-left: 12em;
	padding: 1em;
}

footer {
	padding: 0.5em;
	text-align: center;
}
