body {
	background-image: url("wood_pattern.png");
}

body > header {
	text-align: center;
}

nav {
	position: fixed;
	background: url("logo.png") no-repeat top center;
	padding: 1em;
	padding-top: 120px;
	width: 10em;
}

nav header {
	text-indent: -999em;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	margin-bottom: 0.5em;
}

#content {
	margin-left: 10em;
	padding: 1em;
}

#content article p::first-line {
	text-indent: 4em;	
}

footer {
	padding: 0.5em;
	text-align: center;
}
