<ul>
	<li><a href="http://code.google.com/p/ibus/">IBus -- Intelligent Input Bus for Linux / Unix OS</a></li>
	<li><a href="http://www.scim-im.org/">SCIM -- Smart Common Input Method platform</a></li>
	<li><a href="http://en.wikipedia.org/wiki/Internet/Intranet_Input_Method_Framework">OpenI18N.org 的輸入法架構：IIIMF</a></li>
	<li><a href="http://of.openfoundry.org/projects/100/">SpaceChewing -- OS X 上的酷音輸入法</a></li>
	<li><a href="http://openvanilla.org/">OpenVanilla IM Framework / 開放香草輸入法框架</a></li>
	<li><a href="http://opendesktop.org.tw/demopage/oxim/">Open X Input Method (OXIM)</a></li>
	<li><a href="http://zh.wikipedia.org/wiki/Xcin">XCIN</a></li>
</ul>
