/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar .navbar-inner {
	-webkit-box-shadow: 0 2px 10px rgba(50,50,50,.25);
	-moz-box-shadow: 0 2px 10px rgba(50,50,50,.25);
	box-shadow: 0 2px 10px rgba(50,50,50,.25);
}
