// taken from http://nipponcolors.com/
$font-color: #fcfaf2; //font, border of navbar & footer
$bg-color1: #373c38;  //navbar, footer
$bg-color2: #828282;  //contributor div, h3 span, news, news time
