<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
{% if page.title != nil && page.title != '' %}
			{{ page.title }} - {{ site.title-min }}
{% else %}
			{{ site.title }}
{% endif %}
		</title>
		<link rel="stylesheet" type="text/css" href="static/css/lsf.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-extend.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-navbar.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-accordion.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-docs.css" />
{% for item in page.css %}
		<link rel="stylesheet" type="text/css" href="static/css/{{ item }}.css" />
{% endfor %}
		<base href="{{ site.url }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
{% for item in page.js %}
		<script src="static/js/{{ item }}.js"></script>
{% endfor %}
	</head>
	<body>
		{% include navbar.html %}
		<div class="container">
			{{ content }}
			{% include footer.html %}
		</div>
	</body>
</html>
