<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<link href="style.css" rel="stylesheet"/>
	<title>{{ page.title }}&mdash;新酷音輸入法</title>
</head>
<body>
	<header>
		<h1><b>Chewing / 新酷音</b>:<br />智慧型注音輸入法發展總部</h1>
	</header>
	<nav>
		<header>
			<h2>Menu</h2>
		</header>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="news.html">News</a></li>
			<li><a href="download.html">Download</a></li>
			<li><a href="screenshots.html">Screenshots</a></li>
			<li><a href="contribute.html">Contribute</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="requirements.html">Requirements</a></li>
			<li><a href="license.html">License</a></li>
			<li><a href="links.html">Links</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
	<div id="main">

		{{ content }}

	</div>
	<footer>
		Copyright &copy; 2004-2008, 2011 by Chewing Core Team.
	</footer>
</body>
</html>
