---
layout: compress
---
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<link href="/style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	{% feed_meta %}
	<title>{{ page.title }} &mdash; 新酷音輸入法</title>
</head>
<body>
	<header>
		<h1><a href="/">新酷音</a></h1>
		{% include nav.html %}
	</header>
	<main>
{{ content }}
	</main>
	<footer>
		Copyright &copy; 2004 &ndash; {{ site.time | date: '%Y' }} <br />by Chewing Core Team.
	</footer>
</body>
</html>
