<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<link href="style.css" rel="stylesheet"/>
	<link rel="alternate" type="application/rss+xml" title="FEED" href="atom.xml">
	<title>{{ page.title }}&mdash;新酷音輸入法</title>
</head>
<body>
	<header class="navigation">
        <span class="logo">新酷音</span>
        <nav>
            <h2 class="_hide">Navigation</h2>

						<input type="checkbox" id="nav-trigger" />
						<label for="nav-trigger">
							<img src="/list.svg" alt="menu-icon" style="height:20px; width:20px;">
						</label>

            {% include nav.html %}
        </nav>
	</header>
	<div id="content">
{{ content }}
	</div>
	<footer>
		Copyright &copy; 2004&ndash;2014 by Chewing Core Team.
	</footer>
</body>
</html>
