---
layout: blank
title: Download - 下載
class: download

css:
  - download-featurette
---
<ul class="nav nav-pills">
  <li class="active"><a href="#win" data-toggle="pill" class="lsf-icon" title="windows">Windows</a></li>
  <li><a href="#mac" data-toggle="pill" class="lsf-icon" title="apple">Mac OS X</a></li>
  <li><a href="#lin" data-toggle="pill" class="lsf-icon" title="ubuntu">Linux</a></li>
  <li><a href="#source" data-toggle="pill" class="lsf-icon" title="terminal">Source</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="win">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>版本</th>
					<th>檔案大小</th>
					<th>釋出時間</th>
					<th>詳細資訊</th>
				</tr>
			</thead>
			<tbody>
{% for item in page.windows %}
				<tr>
					<td><a href="{{ item.url }}">{{ item.version }}</a></td>
					<td>{{ item.size }}</td>
					<td>{{ item.time | date: "%Y/%m/%d" }}</td>
					<td>{{ item.desc }}</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane fade" id="mac">
		<div class="featurette">
			<img class="featurette-image pull-right" src="static/img/download-banner.png" />
			<h2 class="featurette-heading">現在就下載並安裝新酷音</h2>
			<h3 class="featurette-heading"><span class="muted">獲得意想不到的中文輸入體驗</span></h3>
			<p class="lead">
				<a class="btn btn-large btn-inverse">此網頁建置中</a>
			</p>
		</div>
	</div>
	<div class="tab-pane fade" id="lin">
		<div class="featurette">
			<img class="featurette-image pull-right" src="static/img/download-banner.png" />
			<h2 class="featurette-heading">現在就下載並安裝新酷音</h2>
			<h3 class="featurette-heading"><span class="muted">獲得意想不到的中文輸入體驗</span></h3>
			<p class="lead">
				<a class="btn btn-large btn-inverse">此網頁建置中</a>
			</p>
		</div>
	</div>
	<div class="tab-pane fade" id="source">
		<div class="featurette">
			<img class="featurette-image pull-left" src="static/img/download-tweak.png" style="padding-top: 60px;" />
			<h2 class="featurette-heading">想要自行調教新酷音？</h2>
			<h3 class="featurette-heading"><span class="muted">現在就前往 Github 取得原始碼</span></h3>
			<p class="lead">
				<a class="btn btn-large btn-inverse lsf-icon" title="github" href="//github.com/chewing">前往 Github</a>
			</p>
		</div>
	</div>
</div>
