<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
{% if page.title != nil && page.title != '' %}
			{{ page.title }} - {{ site.title-min }}
{% else %}
			{{ site.title }}
{% endif %}
		</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-navbar.css" />
		<link rel="stylesheet" type="text/css" href="static/css/index-carousel.css" />
		<link rel="stylesheet" type="text/css" href="static/css/index-navbar.css" />
		<base href="{{ site.url }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
	</head>
	<body>
		{% include navbar.html %}
		<div id="banner" class="carousel slide">
			<div class="carousel-inner">
{% assign first = true %}
{% for item in page.banner %}
	{% if first %}
		{% assign active = ' active' %}
		{% assign first = false %}
	{% else %}
		{% assign active = '' %}
	{% endif %}
				<div class="item{{ active }}">
					<img src="{{ item.url }}" />
					<div class="container">
						<div class="carousel-caption">
							<h1>{{ item.title }}</h1>
							<p class="lead">{{ item.description }}</p>
						</div>
					</div>
				</div>
{% endfor %}
			</div>
			<a class="carousel-control left" href="#banner" data-slide="next">&lsaquo;</a>
			<a class="carousel-control right" href="#banner" data-slide="prev">&rsaquo;</a>
		</div>
		<div class="container">
			{{ content }}
			<hr class="featurette-divider" />
			<div class="row">
				<div class="span4">
					<h2 class="featurette-heading">News</h2>
					<ul>
					{% for post in site.posts %}
						<li>
							<a href="{{ post.url }}">{{ post.title }}</a> -- {{ post.date | date: "%Y/%m/%d" }}
						</li>
					{% endfor %}
					</ul>
				</div>
				<div class="span4">
					<h2 class="featurette-heading">Tarball</h2>
				</div>
				<div class="span4">
					<h2 class="featurette-heading">Links</h2>
					{% include links.html %}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
